@model List<ResultProductStockWithDetailsDto>

@{
    ViewData["Title"] = "Product Stock Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Product Stocks</h4>

    @await Component.InvokeAsync("_TopLayerStatisticsComponentPartial")

    <div class="card">
        <h5 class="card-header">Product Stock Operations</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.ProductName</td>
                            <td>@item.Color</td>
                            <td>@item.Size</td>
                            <td>@item.Stock</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/ProductStock/UpdateProductStock/@item.ProductStockId"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="/Admin/ProductStock/DeleteProductStock/@item.ProductStockId"><i class="bx bx-trash me-1"></i> Delete</a>
                                        <a class="dropdown-item" href="/Admin/ProductStock/ViewProductStockDetails/@item.ProductStockId"><i class="bx bx-detail"></i> Details</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary m-4" onclick="window.location.href='/Admin/ProductStock/CreateProductStock/'">
                <span class="tf-icons bx bx-plus-medical"></span>&nbsp; Add Product Stock
            </button>
        </div>
    </div>
</div>
