@model ResultAllProductDetailsDto

@functions {
    public string GenerateStars(double rating)
    {
        string stars = "";
        for (int i = 1; i <= 5; i++)
        {
            if (rating >= i)
            {
                stars += "<small class='fas fa-star'></small>";
            }
            else if (rating >= i - 0.5)
            {
                stars += "<small class='fas fa-star-half-alt'></small>";
            }
            else
            {
                stars += "<small class='far fa-star'></small>";
            }
        }
        return stars;
    }
}

<div class="col-lg-7 h-auto mb-30 ">
    <div class="h-100 bg-light p-30 rounded">
        <h3>@Model.Name</h3>
        <div class="d-flex mb-3">
            <div class="text-primary mr-2">
                @Html.Raw(GenerateStars(ViewBag.RateAverage))
            </div>
            <small class="pt-1">(@ViewBag.RateCount Reviews)</small>
        </div>
        <h3 class="font-weight-semi-bold mb-4">$@Model.Price</h3>
        <p class="mb-4">
            @Model.Description
        </p>
        <div class="d-flex mb-3">
            <strong class="text-dark mr-3">Sizes:</strong>
            <form id="sizeForm">
                @foreach (var size in Model.Sizes!)
                {
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-@size.SizeId" name="size" data-size-id="@size.SizeId">
                        <label class="custom-control-label" for="size-@size.SizeId">@size.Name</label>
                    </div>
                }
            </form>
        </div>
        <div class="d-flex mb-4">
            <strong class="text-dark mr-3">Colors:</strong>
            <form id="colorForm">
                <!-- JavaScript ile renkler buraya eklenecek -->
            </form>
        </div>
        <div class="d-flex align-items-center mb-4 pt-2">
            <div class="input-group quantity mr-3" style="width: 130px;">
                <div class="input-group-btn">
                    <button class="btn btn-dark btn-minus rounded">
                        <i class="fa fa-minus text-light"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light border-0 text-center text-dark" value="1">
                <div class="input-group-btn">
                    <button class="btn btn-dark btn-plus rounded">
                        <i class="fa fa-plus text-light"></i>
                    </button>
                </div>
            </div>
            <button class="btn btn-dark px-3 rounded">
                <i class="fa fa-shopping-cart mr-1 text-light"></i> Add To Cart
            </button>
        </div>
        <div class="d-flex pt-2">
            <strong class="text-dark mr-2">Share on:</strong>
            <div class="d-inline-flex">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#sizeForm input[name="size"]').change(function () {
            var sizeId = $(this).data('size-id');
            var productId = '@Model.ProductId'; // Ürün ID'sini sunucudan al

            // AJAX çağrısı ile geçerli renkleri al
            $.ajax({
                url: '@Url.Action("GetColorsForSize", "ProductList")',
                type: 'GET',
                data: { sizeId: sizeId, productId: productId },
                success: function (colors) {
                    // Renkleri güncelle
                    updateColors(colors);
                }
            });
        });

        function updateColors(colors) {
            $('#colorForm').empty(); // Mevcut renkleri temizle

            colors.forEach(function (color) {
                var colorHtml = `
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-${color.colorId}" name="color" value="${color.colorId}">
                                <label class="custom-control-label" for="color-${color.colorId}">${color.name}</label>
                            </div>
                        `;
                $('#colorForm').append(colorHtml);
            });
        }
    });
</script>

