@model List<ResultCarouselDto>

@{
    int modelCount = Model.Count();
    int count = 0;
}

<div class="mb-3">
    <div id="header-carousel" class="carousel slide carousel-fade mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < modelCount; i++)
            {
                <li data-target="#header-carousel" data-slide-to="@i" class="@(i == 0 ? "active":"") rounded-pill"></li>
            } 
        </ol>
        <div class="carousel-inner">
            @foreach(var item in Model)
            {
                count++;
                <div class="carousel-item position-relative @(count == 1 ? "active":"")" style="height: 480px;">
                    <img class="position-absolute w-100 h-100" src="~/online-shop-website-template/img/@item.ImageUrl" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.Title</h1>
                            <p class="mx-md-5 px-5 animate__animated animate__bounceIn">@item.Description</p>
                            <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp rounded" href="/ProductList/Index">Shop Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
