<div class="flex-grow-1 container-p-y">
    <div class="row">

        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-around">
                        <div class="flex-shrink-0 bg-label-success rounded">
                            <i class="@ViewBag.OneIcon"></i>
                        </div>
                        <div>
                            <span class="fw-semibold d-block mb-1">@ViewBag.One</span>
                            <h4 class="card-title mb-2">@ViewBag.OneDesc</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-around">
                        <div class="flex-shrink-0 bg-label-info rounded">
                            <i class="@ViewBag.TwoIcon"></i>
                        </div>
                        <div>
                            <span class="fw-semibold d-block mb-1">@ViewBag.Two</span>
                            <h4 class="card-title text-nowrap mb-1">@ViewBag.TwoDesc</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-around">
                        <div class="flex-shrink-0 bg-label-warning rounded">
                            <i class="@ViewBag.ThreeIcon"></i>
                        </div>
                        <div>
                            <span class="fw-semibold d-block mb-1">@ViewBag.Three</span>
                            <h4 class="card-title text-nowrap mb-1">@ViewBag.ThreeDesc</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-around">
                        <div class="flex-shrink-0 bg-label-primary rounded">
                            <i class="@ViewBag.FourIcon"></i>
                        </div>
                        <div>
                            <span class="fw-semibold d-block mb-1">@ViewBag.Four</span>
                            <h4 class="card-title text-nowrap mb-1">@ViewBag.FourDesc</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
