@model UserDetailViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
	var address = ViewData["address"] as List<ResultAddressDto>;
}

<style>
	body {
		background: #f7f7ff;
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 0 solid transparent;
		border-radius: .25rem;
		margin-bottom: 1.5rem;
		box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	}

	.me-2 {
		margin-right: .5rem !important;
	}
</style>

<div>
	<div class="main-body">
		<div class="row">
			<div class="col-lg-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="~/img/UserImages/@Model.ProfilePictureUrl" alt="Admin" class="rounded-circle p-1 bg-primary" width="230">
							<div class="mt-3">
								<h4>@Model.Name</h4>
								<p class="text-muted font-size-sm">@address.FirstOrDefault().City, @address.FirstOrDefault().Country @address.FirstOrDefault().ZipCode</p>
								<button class="btn btn-outline-primary">Upload Profile Image</button> 
							</div>
						</div>				
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="card">
					<h3 class="m-4">Profile Informations</h3>
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-sm-3">
								<h6 class="mb-0">Name</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<input type="text" class="form-control" value="@Model.Name ">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<h6 class="mb-0">Surname</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<input type="text" class="form-control" value="@Model.Surname ">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<h6 class="mb-0">Email</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<input type="text" class="form-control" value="@Model.Email">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<h6 class="mb-0">Phone</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<input type="text" class="form-control" value="@address.FirstOrDefault().PhoneNumber">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3">
								<h6 class="mb-0">Address</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								<input type="text" class="form-control" value="@address.FirstOrDefault().Description">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3"></div>
							<div class="col-sm-9 text-secondary">
								<input type="button" class="btn btn-primary px-4" value="Save Changes">
							</div>
						</div>
					</div>
				</div>

				@await Component.InvokeAsync("_ProfileAddressesComponentPartial" ,new {id = Model.Id})
			</div>
		</div>
	</div>
</div>


